.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

a {
    text-decoration: none;
    margin: 10px ;
    font-size: 14px;
}

a:visited {
    color: inherit;
}
a:active {
    color: inherit;
}
