.header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 150px;
    object-fit: cover;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
    
}

.header > div > div{
    margin: 10px 10px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    border: 1px solid #007AFF;
    box-shadow: 1px 1px 1px #007AFF;
}

.header__active{
  color: #FCFCFC;
  background-color: #007AFF;
}