.slider {
    width: 80%;
    margin: 0 auto;
}

.slider > input[type="range"] {
    margin: 0 10%;
}

.slider__range {
    padding: 0;
    margin: auto;
}

.slider__range:hover {
    cursor: pointer;
}

.slider__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}